<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
    <test name="test1">
        <classes>
            <class name="testcases.TestUserRegistration"/>
        </classes>
    </test>
    <test name="test2">
        <classes>
            <class name="testcases.TestAddToCart"/>
        </classes>
    </test>
    <test name="test3">
        <classes>
            <class name="testcases.TestCheckout"/>
        </classes>
    </test>
    <test name="test4">
        <classes>
            <class name="testcases.TestGiftCart"/>
        </classes>
    </test>
    <test name="test5">
        <classes>
            <class name="testcases.TestSearchFunction"/>
        </classes>
    </test>
    <test name="test6">
        <classes>
            <class name="testcases.TestUserLogin"/>
        </classes>
    </test>
</suite>